.flex {
    display: flex;
}

.flex_aling-center {
    align-items: center;
}

.flex_aling-end {
    align-items: flex-end;
}

.flex_content-between {
    justify-content: space-between;
}

.flex_content-end {
    justify-content: flex-end;
}

.flex_content-center {
    justify-content: center;
}

.flex_content-start {
    justify-content: start;
}

.flex_content-evenly {
    justify-content: space-evenly;
}

.flex_wrap {
    flex-wrap: wrap;
}

.flex_column {
    flex-direction: column;
}