$color-black: #000000;
$color-cinder: #020203;
$color-dark-grey: #666666;
$color-gray: #a2a6b0;
$color-ghost: #cacdd8;
$color-gallery: #ececec;
$color-zircon: #f5f7ff;
$color-white: #ffffff;
$color-blue-ribbon: #0156ff;
$color-azure-radiance: #01a4ff;
$color-mojo: #c94d3f;
$color-green: #78a962;
$color-mystic: #e5ecf1;
$color-shark: #252931;

$p-font-light: "Poppins Light";
$p-font-regular: "Poppins Regular";
$p-font-medium: "Poppins Medium";
$p-font-semi-bold: "Poppins Semi Bold";
$p-font-bold: "Poppins Bold";
